<body>

  <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Charity Project</h3>
        <ul class="nav nav-justified">
          <li><a href="#">Home</a></li>
          <li><a href="#">Live News</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sign In</a></li>

        </ul>
      </div>

      <!-- Jumbotron  -->
      <div class="jumbotron">
        <h2>Welcome to the Project live beta!</h2>
        <p class="lead">We are dedicated to reporting live updates on disastrous events around the world and provide you with the ability to donate to the most credible relief funds.
        We only select the best charities for you money to go to and we made it easier for you to make a difference in the world.
        </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Make an account</a></p

      </div>

<div class="row">
  <div class="col-lg-6">
    <h2>Live Feed</h2>
    <p class="text-danger">Twitter</p>
    <p>This is where the Twitter live feed will go, move to top right next to jumbotron</p>

</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Infographic</h2>
    <p class="text-danger">Infographic</p>
    <p>Live ticker with image rotation and caption below</p>

</div>

</body>

<footer>
Created by: David Middleton |<%= link_to "LinkedIn", "www.linkedin.com/pub/david-middleton/49/48a/788/" %>

</footer>
